@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Russo+One");

@mixin config-area() {
    background-color: #c0d8d8;
    border: 1px solid #1d2f2f;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
    border-top: none;
}

body {
    --height-editor: 30vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background: #87b5b5;
    height: 100%;
}

#editor-box {
    max-width: 700px;
    margin: 1.25rem auto;
}

#toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #4aa3a3;
    padding: 0.3rem;
    border: 1px solid #1d2f2f;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
    font-family: "Russo One";
    font-size: 1rem;
    color: black;
}

.fa-maximize:hover,
.fa-minimize:hover {
    cursor: pointer;
    color: yellow;
}

#editor-box #editor {
    @include config-area();
    width: 100%;
    min-height: var(--height-editor);
    resize: vertical;
    margin-bottom: -5px;
    outline: none;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 0.875rem;
}

#preview {
    @include config-area();
    max-width: 1000px;
    margin: 1.25rem auto;
    min-height: 200px;
    // height: 62vh;
    overflow-wrap: break-word;
}

#preview-markdown {
    padding: 20px;
}

pre,
code {
    background-color: white;
}

img {
    max-width: 950px;
}

table {
    border-collapse: collapse;
}
th,
td {
    border: 2px solid black;
    padding: 5px;
}

#preview blockquote {
    border-left: 3px solid #224b4b;
    color: #224b4b;
    padding-left: 5px;
    margin-left: 25px;
}
